{% extends "./base.twig" %}

{% block content %}
<div class="gallery">
    <div class="wrapper">
        <h1>{{ title }}</h1>

        <div class="gallery__meta">
            <a href="{{ site_url }}">Назад на главную</a>
        </div>

        <div class="gallery__list">
            {% for item in gallery %}
                <div class="gallery__item">
                    <a href="/photos/{{ item.photo }}">
                        <div class="gallery__item-img-simple">
                            <img loading="lazy" src="/photos/{{ item.thumb }}" alt="{{ item.name }}" />
                        </div>
                        <div class="gallery__item-caption">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
