<head>
    <meta charset="utf-8" />
    <title>{% if pageTitle %}{{ pageTitle }}{% else %}Title{% endif %}</title>
    <meta name="description" content="{% if pageDescription %}{{ pageDescription }}{% else %}{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.96, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#000000">
    <link href="{{ site_url }}art.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site_url }}static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site_url }}static/favicon/favicon-16x16.png">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site_url }}static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ site_url }}static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="48x48" href="{{ site_url }}static/favicon/favicon-48x48.png">
    <link rel="manifest" href="{{ site_url }}static/favicon/manifest.json">
</head>
