<head>
    <meta charset="utf-8" />
    <title>{% if pageTitle %}{{ pageTitle }}{% else %}Title{% endif %}</title>
    <meta name="description" content="{% if pageDescription %}{{ pageDescription }}{% else %}{% endif %}" />
    <meta name="viewport" content="width=device-width, initial-scale=0.96, viewport-fit=cover">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="theme-color" content="#000000">
    <link href="{{ site_url }}art.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site_url }}static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site_url }}static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site_url }}static/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{ site_url }}static/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{ site_url }}static/favicon/safari-pinned-tab.svg" color="#2e2e2e">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="https://art-komnata.ru/" />
    <meta name="yandex-verification" content="1d488cf042340468" />
</head>
